---
---

@import "minima";

h1, h2, h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

p, ul, ol {
  margin-bottom: 1.25rem;
  line-height: 1.6;
}

li {
  margin-bottom: 0.4rem;
}

hr {
  margin: 2rem 0;
}
